<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('partials/head.ejs') %>
		<title>Tweet-City</title>
	</head>
	<body>
		<h1>Welcome To Tweet City</h1>
		<nav><%- include ('partials/nav.ejs') %></nav>
		<div class="main-container"></div>
	</body>
</html>
