<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('partials/head.ejs') %>

		<title>Tweet-City</title>
	</head>
	<body>
		<nav><%- include ('partials/nav.ejs') %></nav>

		<div class="main-container"></div>
	</body>
</html>
