.tweetcontainer {
	border: 5px solid blue;
	margin-bottom: 5px;
}

.profile_img_in_tweet {
	height: 75px;
	width: 75px;
}

.profileimg-in-userpage {
	height: 150px;
	width: 150px;
}

body {
	background-color: #15202b;
	color: white;
}
