<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Edit User</title>
	</head>
	<body>
		<div>
			<h1>Edit</h1>
			<form action="/user/edit/<%=id.id%>?_method=PUT>" method="POST">
				<label for="name">Username:<%=currentUser.username%></label>
				<label for="password">Update password:</label>
				<input type="password" name="password" required /><br />
				<input type="url" name="Update img" optional /><br />
				<input type="submit" value="submit" />
			</form>
		</div>
	</body>
</html>
