<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>

		<title>Create New User</title>
	</head>
	<body>
		<nav><%- include ('../partials/nav.ejs') %></nav>
		<div>
			<h1>New User</h1>
			<form action="/user" method="POST">
				<label for="name">Username:</label>
				<input type="text" name="username" required /><br />
				<label for="password">Password:</label>
				<input type="password" name="password" required /><br />
				<label for="img">Profile Image Url:</label>
				<input type="url" name="img" optional /><br />
				<input type="submit" value="submit" />
			</form>
		</div>
	</body>
</html>
